

div{
    margin: auto;
    align-self: center;
}


.element{
    padding-top: 15%;
    padding-bottom: 18%;
}

#element1{
    height: 500%; 
    width: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
    padding-left: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#logo{
    width: 10%;
    height: 10%;
}

button.btn{
    width: 30%
}

h2{
    font-size: 3rem;
}

#to-fade{
    
    display: inline-block;
}

#run{
    width: 20%;
}

nav{
    padding: 5%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #03001C;
}


#element2{
    background-color: #C3ACD0;
    background-image: url("../images/second_background.gif");
    background-size: cover;
    padding-left: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 500%;
    width: 100%;
}

#in-element2{
    padding-top: 5%;
    padding-bottom: 15%;
}

.headin{
    padding-bottom: 2%;
}

#Home{
    padding-left: 5%;
}

#beans{
    padding-right: 4% ;
}

#blurID{
    display: inline-block;
    backdrop-filter: blur(20px);
}

#title1{
    display: inline-block;
    font-weight: bolder;
    font-size: 10vw;
    backdrop-filter: blur(10px);
}

.pee-class{
    backdrop-filter: blur(10px);
    font-size:large;
}


.cato{
    width:25%;
    height: 25%;
    display: inline-block;
    image-rendering: auto;
}

.pricing{
    display: inline-block;
    padding-top: 4%;
    height: 500%; 
    width: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
    padding-left: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20%;
}

#navbar_main{
    color: white;
}

.nav-link{
    color: white !important;
}

.d-inline{
    border-radius: 10%;
}

.contact{
    display: inline-block;
    padding-top: 4%;
    height: 500%; 
    width: 100%;
    background-image: url("../images/second_background.gif");
    background-size: cover;
    padding-left: 5%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20%;
}

#footer .copyright{
    margin: auto;
    align-self: center;
    background-image: url("../images/background.jpg");
    color: white;

}

#footer .copyright li {
    display: inline-block;
    margin: 0 0 0 0.45em;
    padding: 0 0 0 0.85em;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    line-height: 1;
}

    #footer .copyright li:first-child {
        border-left: 0;
    }

